* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    position:fixed;
    width: 100%;
    z-index: 1000;
}

.menu_items {
    display: flex;
}


.item_menu {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.item_menu:hover {
    background-color: #7c7b7b;
}

.logo_container {
    display: flex;
}

.logo {
    height: 100%;
    width: 100px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('imagenes/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.title_container {
    text-align: center;
}

.title {
    display: inline-block;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #b14421;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.subtitle {
    padding: 1rem;
    color: #ffffff;
    background-color: #b14421;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.cards {
    background-color: #CCC;
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.title_card_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title_card {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    color: #b14421;
}

.img_card_container {
    background-color: #fff;
    width: 300px;
    padding-bottom: 1rem;
    cursor: pointer;
}

.img_card {
    width: 100%;
    height: 200px;
    margin: 0;
    object-fit: cover;
    object-position: center;
    display: block;
}

.title_img_card {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.text_img_card {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.img_card_container:hover {
    background-color: #F0F0F0;
}

.nosotros {
    background-color: #CCC;
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.title_nosotros {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    color: #b14421;
    width: 100%;
    text-align: center;
}

.columnas {
    display: flex;
    width: 40%;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
}

.titulo_bloque_informativo {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.bloque_informativo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    gap: 1rem;
}

.boton_nosotros {
    background-color: transparent;
    width: 200px;
    padding: 1rem;
    border: solid 2px black;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.boton_nosotros:hover {
    color: #b14421;
    border-color: #b14421;
    cursor: pointer;
    box-shadow: 2px 2px 4px #CCC;
}

.whatsapp {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.whatsapp img {
    width: 50px;
    height: 50px;
}

.hamburger {
    display: none !important;
}

@media (max-width: 768px) {
    .menu{
        position: relative;
    }

    .hamburger {
        display: block !important;
        align-self: center;
    }

    .menu_items {
        position:absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #a6a6a6;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;    
    }

    .menu_items.is-active {
        visibility: visible;
        opacity: 1;
    }

    .item_menu {
        margin: 0;
        text-align: center;
        border-top: solid 1px #7c7b7b;
    }
}



